h1 {
  color: midnightblue;
  font-size: 1.6rem;
}
p {
  color: red;
}
body {
  font-family: "Times New Roman", Times, serif;
}
td {
  width: 40px;
  text-align: center;
  font-size: 2rem;
}
input {
  font-size: 1.2rem;
}
button {
  height: 26px;
}
.para {
  font-weight: bold;
}
#main {
  margin: 0 auto;
  width: 40vw;
  text-align: center;
  background-color: lightgray;
  min-height: 60vh;
}

/* game board table and td */
#board,
.board-col {
  border: 1px solid black;
}
/* game board table  */
#board {
  border-collapse: collapse;
  background-color: lightskyblue;
  margin: 0 auto;
}
#guess {
  margin: 5px 0;
}
