h1 {
    background-color: midnightblue;
    color: #fff;
    font-size: 1.6rem;
}
h3 {
    color: #fff;
    text-decoration: underline;
}
p {
    color: white;
}
body {
    font-family: "Fira Code", monospace;
    background-image: linear-gradient(
        to bottom right,
        white,
        rgb(101, 101, 187),
        white
    );
    height: 100vh;
}
td {
    width: 45px;
    text-align: center;
    font-size: 2rem;
}
input {
    font-size: 1.2rem;
}
button {
    height: 26px;
}
.double {
    text-decoration: double underline;
}
.title {
    text-decoration: underline;
    margin: 0;
    padding: 0;
}
.number {
    font-size: 1.5rem;
    margin: 0;
    padding: 0 0 10px 0;
}
.para {
    font-weight: bold;
    color: silver;
}
.container {
    display: flex;
    justify-content: space-around;
}
.side-bar {
    width: 25%;
    background-color: #01b1b1;
    color: white;
}
.scoring {
    color: white;
}
#main {
    margin: 0 auto;
    width: 40vw;
    text-align: center;
    background-color: black;
    min-height: 70vh;
}

/* game board table and td */
#board,
.board-col {
    border: 1px solid black;
}
/* game board table  */
#board {
    border-collapse: collapse;
    background-color: #01b1b1;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0 auto;
}
#guess {
    margin: 5px 0;
    color: #fff;
}
